
  html{
    background-color: #4682b4;
  }
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  header {
    background-color: #060647;
    color: #43aaca;
    padding: 20px;
    text-align: center;

  }
  h1{
    font-family:'Times New Roman', Times, serif
  }
  
  nav a {
    color: #dee5eb;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  
  nav a:hover {
    color: #ffdd57;
  }
  /* About, Events, and Members sections */
section {
    padding: 20px;
    text-align: center;
  }
  
  #events {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #93b5ce;
  }
  
  #events h2, #members h2 {
    margin-bottom: 10px;
  }
  
  #members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  @media (max-width: 768px) {
    #events, #members {
      flex-direction: column;
      grid-template-columns: 1fr;
    }
  
    nav a {
      display: block;
      margin: 10px 0;
    }
  }
  .button {
  background-color: #43739b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size:x-large;
}

.button:hover {
  background-color: #ffdd57;
  color: #333;
}
section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 20px;
  }
  hr {
    border: none;
    height: 4px;
    background: linear-gradient(to right, #3498db, #8e44ad);
  }

  #tagline{
    color:#4b1762
  }
  li{
    align-items: end;
  }
  .logo-circle {
    width: 100px;            
    height: 100px;
    
  }
  
  
  
  
  
  
  
  

  
  
    